@import "tailwindcss";

body {
  background-color: black;
}

.dropdown-content {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.dropdown-content.open {
  max-height: 500px;
  opacity: 1;
}
